<!DOCTYPE html>
<!--
    AUTHOR:	 hbates@northmen.org
    VERSION:    1.0.0
    CREATED:    5/25/2016
    PURPOSE:    To deliver requested forms
    TODO:
-->

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HPA Day Camp Registration</title>
        <link href="public/css/foundation.min.css" rel="stylesheet">
    </head>
    <body>