<% include public/views/header.ejs %>

<div class="row">
	<div class="small-12 columns">
		<h2 id="title">[ REPLACE ]</h2>
	</div>
</div>
<br>
<div class="row">
    <div class="small-12 columns">
        <p dir="ltr">
            HARBOR POINT ASSOCIATION (Day Camp Program)
        </p>
        <p dir="ltr">
            ALL CAMPERS MUST HAVE A SIGNED RELEASE FORM ON FILE TO ATTEND CAMP
            <br/>
            (PLEASE SEE RELEASE FORM AS FOLLOWS and PLEASE PRINT)
            <br/>
            <br/>
        </p>
        <p dir="ltr">
            CAMPER ____________________________________________________________
        </p>
        <p dir="ltr">
            DATE OF BIRTH ______________________ CURRENT AGE___________________
        </p>
        <p dir="ltr">
            PARENT(S) ___________________________________________________________
        </p>
        <p dir="ltr">
            SUMMER ADDRESS ____________________________________________________
        </p>
        <p dir="ltr">
            WINTER ADDRESS: STREET______________________________________________
        </p>
        <p dir="ltr">
            CITY and STATE ________________________________ ZIP CODE ______________
        </p>
        <br/>
        <p dir="ltr">
            LOCAL PHONE __________________________
        </p>
        <p dir="ltr">
            CELL PHONE(S) _________________________ _____________________________
        </p>
        <p dir="ltr">
            EMAIL ___________________________________________________________________
        </p>
        <p dir="ltr">
            HARBOR POINT SPONSOR
        </p>
        <p dir="ltr">
            NAME _________________________________ PHONE ____________________________
        </p>
        <p dir="ltr">
            MEDICAL INFORMATION: DOES CAMPER HAVE ALLERGIES? YES NO
            <img src="https://docs.google.com/drawings/d/s-RaMzvsDwJfUSGIwZhSXQg/image?w=20&amp;h=16&amp;rev=1&amp;ac=1" width="20" height="16"/>
            <img src="https://docs.google.com/drawings/d/smVnwndPFpAItm_kSrurNaw/image?w=20&amp;h=16&amp;rev=1&amp;ac=1" width="20" height="16"/>
        </p>
        <p dir="ltr">
            LIST HERE: _____________________________________________________________________
        </p>
        <p dir="ltr">
            LIST ANY OTHER MEDICAL PROBLEMS THAT MAY AFFECT CAMPERS ABILITY TO PARTICIPATE IN CAMP
            ACTIVITIES________________________________________________________________
        </p>
        <p dir="ltr">
            EMERGENCY CONTACT (OTHER THAN PARENTS)
        </p>
        <p dir="ltr">
            NAME ___________________________________________ PHONE ______________________
        </p>
        <br/>
        <p dir="ltr">
            DROP OFF AND PICK-UP PLAN (SEE PERMISSION FORM)
        </p>
        <p dir="ltr">
            OTHER ADULTS WHO MAY PICK-UP/DROP OFF MY CHILD: _______________________________
            <br/>
            <br/>
        </p>
        <p dir="ltr">
            ______________________________________________________________________________
        </p>
        <br/>
        <br/>
        <p dir="ltr">
            NON-RESIDENT CAMP RATES: PER WEEK $200.00 PER DAY $ 45.00
        </p>
        <p dir="ltr">
            PAYMENT FOR CAMP IS EXPECTED ON/BEFORE MONDAY OF EACH WEEK FOR PARTICIPATION
        </p>
        <p dir="ltr">
            IN CAMP ACTIVITIES THAT WEEK. EARLY BIRD DISCOUNT IF PAID BEFORE 6/20/16 – SEE CAMP SCHEDULE FOR DETAILS.
        </p>
        <br/>
        <p dir="ltr">
            BILLING INFORMATION (HARBOR POINT RESIDENTS ONLY SEE DIRECTORY FOR RATES)
        </p>
        <br/>
        <p dir="ltr">
            BILLING NAME _________________________________ COTTAGE NUMBER ___________
        </p>
        <br/>
        <br/>
        <p dir="ltr">
            Parent/Guardian Permissions for Harbor Point Association (Day Camp Program)
        </p>
        <br/>
        <p dir="ltr">
            Name of Child ________________________________________________________
        </p>
        <br/>
        <p dir="ltr">
            I give permission for counselors to take steps needed for administering first aid/CPR and for obtaining emergency medical care for injuries or suspected
            injuries. In an emergency, a counselor will call the Harbor Point Office and the office staff will contact the local ambulance service. The parent cell
            phone number(s) will be called first, then the emergency phone number listed.
        </p>
        <br/>
        <img src="https://docs.google.com/drawings/d/sws7pb5g_t09IgBsSPyYdFQ/image?w=24&amp;h=16&amp;rev=1&amp;ac=1" width="24" height="16"/>
        <p dir="ltr">
            Yes
        </p>
        <br/>
        <p dir="ltr">
            I hereby warrant that to the best of my knowledge, my child is in good health, and I assume all responsibility for the health of my child.
        </p>
        <br/>
        <img src="https://docs.google.com/drawings/d/skhrOlFxvKjz6Z61Eh6OC_Q/image?w=24&amp;h=16&amp;rev=1&amp;ac=1" width="24" height="16"/>
        <p dir="ltr">
            Yes
        </p>
        <br/>
        <p dir="ltr">
            Please note the ‘drop off’ and ‘pick up’ daily arrangements for your child. Parents or an authorized adult must check-in and check-out their children to
            camp every day by signing the attendance list at the Registration booth. For their personal safety, children are not allowed to be dropped off, or check
            themselves in or out. If you would like to pick up your child before normal dismissal time, please inform the Camp Director or Camp Manager.
            <img src="https://docs.google.com/drawings/d/syeabBiPv07vJOMHCp5ipdw/image?w=21&amp;h=20&amp;rev=1&amp;ac=1" width="21" height="20"/>
        </p>
        <br/>
        <p dir="ltr">
            I agree to adhere to these ‘drop off’ and ‘pick up’ arrangements.
        </p>
        <br/>
        <p dir="ltr">
            My child is over 8 years of age. The following arrangements will be in place for my
            <br/>
            <br/>
            child____________________________________________________________________
        </p>
        <br/>
        <p dir="ltr">
            ________________________________________________________________________
        </p>
        <p dir="ltr">
            <br/>
            I, the undersigned, individually and as parent/guardian of the minor herein above identified, assume all responsibility for and all risk of damage or
            injury that may occur to the minor herein below identified as a participant in the Harbor Point Association (Day Camp Program), while attending sessions or
            using equipment or facilities of said Program including water activities and activities that are part of the said program that take place off of the Harbor
            Point Association grounds that will require bike riding, walking or bus transportation to said activity. I also understand that this will include said
            minor(s) participation in clinics and workshops under the leadership of organizations other than the Harbor Point Association (Day Camp Program). In
            consideration of the acceptance of the minor(s) herein above named as participant in the Harbor Point Association (Day Camp Program), the undersigned
            hereby releases and discharges the Harbor Point Association, its shareholders and members, employees and agents from all claims, demands, rights, or causes
            of action, present or future, whether known, anticipated or unanticipated, and resulting from or arising out of, or incident to, participation of the
            minor(s) herein above identified in the Harbor Point Association (Day Camp Program).
        </p>
        <p dir="ltr">
            Parent/Guardian Signature__________________________________________________
        </p>
        <br/>
        <p dir="ltr">
            Print Parent/Guardian Name_________________________________________________
        </p>
        <br/>
        <p dir="ltr">
            Date______________________
        </p>
    </div>
</div>

<!-- SCRIPTS -->
<script src="public/javascripts/libraries/jquery-2.2.3.min.js"></script>
<script src="public/javascripts/libraries/foundation.min.js"></script>
<script src="public/javascripts/bundle.js"></script>
<script src="https://use.fontawesome.com/4270d89823.js"></script>

<% include public/views/footer.ejs %>