<% include public/views/header.ejs %>

<div class="row">
    <div class="small-8 small-centered columns text-center">
        <h4>HARBOR POINT ASSOCIATION (Day Camp Program)</h4>
    </div>
</div>
<div class="row">
    <div class="small-8 small-centered columns text-center">
        <h6>ALL CAMPERS MUST HAVE A SIGNED RELEASE FORM ON FILE TO ATTEND CAMP</h6>
    </div>
</div>
<div class="row">
    <div class="small-8 small-centered columns text-center">
        <h6><i>(PLEASE SEE RELEASE FORM AS FOLLOWS and PLEASE PRINT)</i></h6>
    </div>
</div>
<br>
<div class="row">
     <div class="small-6 columns">
          <label class="label">CAMPER Last Name</label>
          <input type="text" name="lastName" id="lastName" maxlength="20">
     </div>
     <div class="small-6 columns">
          <label class="label">CAMPER First Name</label>
          <input type="text" name="firstName" id="firstName" maxlength="20">
     </div>
</div>
<div class="row">
     <div class="small-6 columns">
          <label class="label">DATE OF BIRTH</label>
          <input type="date" name="dob" id="dob">
     </div>
     <div class="small-6 columns">
          <label class="label">CURRENT AGE</label>
          <input type="number" name="age" id="age" maxlength="2">
     </div>
</div>
<div class="row">
     <div class="small-12 columns">
          <label class="label">PARENT(S)</label>
          <input type="text" name="parents" id="parents" maxlength="50">
     </div>
</div>
<div class="row">
     <div class="small-12 columns">
          <label class="label">SUMMER ADDRESS</label>
          <input type="text" name="summerAddr" id="summerAddr" maxlength="50">
     </div>
</div>
<div class="row">
     <div class="small-12 columns">
          <p><blockquote>WINTER ADDRESS:</blockquote></p>
     </div>
</div>
<div class="row">
     <div class="small-8 columns">
          <label class="label">STREET</label>
          <input type="text" name="street" id="street" maxlength="40">
     </div>
     <div class="small-4 columns">
          <label class="label">ZIP</label>
          <input type="text" pattern="[0-9]{7}" name="zip" id="zip" maxlength="7">
     </div>
     <input type="hidden" name="city" id="city">
     <input type="hidden" name="state" id="state">
</div>
<div class="row">
     <div class="small-4 columns">
          <label class="label">LOCAL PHONE</label>
          <input type="tel" name="localPhone" id="localPhone" maxlength="20">
     </div>
     <div class="small-4 columns">
          <label class="label">CELL PHONE(S)</label>
          <input type="tel" name="cellPhone1" id="cellPhone1" maxlength="20" placeholder="Cell 1">
     </div>
     <div class="small-4 columns">
          <label class="label"></label>
          <input type="tel" name="cellPhone2" id="cellPhone2" maxlength="20" placeholder="Cell 2">
     </div>
</div>
<div class="row">
     <div class="small-12 columns">
          <label class="label">EMAIL</label>
          <input type="email" name="email" id="email" maxlength="80">
     </div>
</div>
<div class="row">
     <div class="small-12 columns">
          <p><blockquote>HARBOR POINT SPONSOR</blockquote></p>
     </div>
</div>
<div class="row">
     <div class="small-5 columns">
          <label class="label">LAST NAME</label>
          <input type="text" name="sponsorLastName" id="sponsorLastName" maxlength="20">
     </div>
     <div class="small-5 columns end">
          <label class="label">FIRST NAME</label>
          <input type="text" name="sponsorFirstName" id="sponsorFirstName" maxlength="20">
     </div>
     <div class="small-2 columns">
          <label class="label">SPONSOR PHONE</label>
          <input type="tel" name="sponsorPhone" id="sponsorPhone" maxlength="20">
     </div>
</div>





            NAME _________________________________ PHONE ____________________________

            MEDICAL INFORMATION: DOES CAMPER HAVE ALLERGIES? YES NO

            LIST HERE: _____________________________________________________________________

            LIST ANY OTHER MEDICAL PROBLEMS THAT MAY AFFECT CAMPERS ABILITY TO PARTICIPATE IN CAMP
            ACTIVITIES________________________________________________________________

            EMERGENCY CONTACT (OTHER THAN PARENTS)

            NAME ___________________________________________ PHONE ______________________

            DROP OFF AND PICK-UP PLAN (SEE PERMISSION FORM)

            OTHER ADULTS WHO MAY PICK-UP/DROP OFF MY CHILD: _______________________________

            ______________________________________________________________________________

            NON-RESIDENT CAMP RATES: PER WEEK $200.00 PER DAY $ 45.00

            PAYMENT FOR CAMP IS EXPECTED ON/BEFORE MONDAY OF EACH WEEK FOR PARTICIPATION

            IN CAMP ACTIVITIES THAT WEEK. EARLY BIRD DISCOUNT IF PAID BEFORE 6/20/16 – SEE CAMP SCHEDULE FOR DETAILS.

            BILLING INFORMATION (HARBOR POINT RESIDENTS ONLY SEE DIRECTORY FOR RATES)

            BILLING NAME _________________________________ COTTAGE NUMBER ___________

            Parent/Guardian Permissions for Harbor Point Association (Day Camp Program)

            Name of Child ________________________________________________________

            I give permission for counselors to take steps needed for administering first aid/CPR and for obtaining emergency medical care for injuries or suspected
            injuries. In an emergency, a counselor will call the Harbor Point Office and the office staff will contact the local ambulance service. The parent cell
            phone number(s) will be called first, then the emergency phone number listed.

            Yes

            I hereby warrant that to the best of my knowledge, my child is in good health, and I assume all responsibility for the health of my child.

            Yes

            Please note the ‘drop off’ and ‘pick up’ daily arrangements for your child. Parents or an authorized adult must check-in and check-out their children to
            camp every day by signing the attendance list at the Registration booth. For their personal safety, children are not allowed to be dropped off, or check
            themselves in or out. If you would like to pick up your child before normal dismissal time, please inform the Camp Director or Camp Manager.

            I agree to adhere to these ‘drop off’ and ‘pick up’ arrangements.

            My child is over 8 years of age. The following arrangements will be in place for my

            child____________________________________________________________________

            ________________________________________________________________________

            I, the undersigned, individually and as parent/guardian of the minor herein above identified, assume all responsibility for and all risk of damage or
            injury that may occur to the minor herein below identified as a participant in the Harbor Point Association (Day Camp Program), while attending sessions or
            using equipment or facilities of said Program including water activities and activities that are part of the said program that take place off of the Harbor
            Point Association grounds that will require bike riding, walking or bus transportation to said activity. I also understand that this will include said
            minor(s) participation in clinics and workshops under the leadership of organizations other than the Harbor Point Association (Day Camp Program). In
            consideration of the acceptance of the minor(s) herein above named as participant in the Harbor Point Association (Day Camp Program), the undersigned
            hereby releases and discharges the Harbor Point Association, its shareholders and members, employees and agents from all claims, demands, rights, or causes
            of action, present or future, whether known, anticipated or unanticipated, and resulting from or arising out of, or incident to, participation of the
            minor(s) herein above identified in the Harbor Point Association (Day Camp Program).

            Parent/Guardian Signature__________________________________________________

            Print Parent/Guardian Name_________________________________________________

            Date______________________


<!-- SCRIPTS -->
<!--<script src="public/javascripts/libraries/jquery-2.2.3.min.js"></script>
<script src="public/javascripts/libraries/foundation.min.js"></script>-->
<!--<script src="public/javascripts/bundle.js"></script>-->
<!--<script src="https://use.fontawesome.com/4270d89823.js"></script>-->

<% include public/views/footer.ejs %>